


/*Buttons*/

button {
    cursor: pointer;

}

.btn :hover {
    background-color: #ffffff;
}

.btn {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
}


.btn-white {
    background-color: #ffffff;
    border: none;
    padding: 0px;
}

.btn-trash {
    background-image: url('../assets/icons/delete.png');
    height: 36px;
    width: 18px;
    margin-bottom: 2px;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-trash:hover{
    background-image: url('../assets/icons/delete-hover.png');
    height: 36px;
    width: 18px;
    margin-bottom: 2px;
    background-position: center;
    background-repeat: no-repeat;
}


.hover-btn-color-orange:hover {
    color:#E76C1F;
}

.btn-buy {
    border: none;
    border-radius: 60px;
    padding: 12px;
}

.btn-buy:hover {
    background-color:#e92323;
}
/*Button Responsive*/
.home-btn {
    background-image: url('../assets/icons/home.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #363534; 
    height: 30px;
    width: 30px;
}

.home-btn:active{
    background-image: url('../assets/icons/home-onclick.png');
}

.shopping-cart-btn {
    background-image: url('../assets/icons/shoping-cart-default.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #363534;
    height: 30px;
    width: 30px;
}
.shopping-cart-btn:active{
    background-image: url('../assets/icons/shoping-cart-active2.png');
    background-size: 30px 30px;
}

.order-btn {
    background-image: url('../assets/icons/takeout_dining_2.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #363534; 
    height: 30px;
    width: 30px;
}
.order-btn:active{
    background-image: url('../assets/icons/takeout_dining_oncklick.png');
}
.profile-btn {
    background-image: url('../assets/icons/person.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #363534; 
    height: 30px;
    width: 30px;
}
.profile-btn:active{
    background-image: url('../assets/icons/person-onclick.png');
}

/* a-tags */

a {
    cursor: pointer;
}
a :hover{
    color: red;
}


header img {
    height: 38px;
    width: 92.56px;

}

.bar {
    width: 45px;
    height: 4px;
    background-color: #ffffff;
    transition: 0.4s;
}

.burger-menu {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.menu-section-img{
    width: 208px;
    height: 121px;
    position: center;
    object-fit: cover;
}