


/*Buttons*/

button {
    cursor: pointer;

}

.btn :hover {
    background-color: azure;
}

.btn {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
}


.btn-white {
    background-color: #ffffff;
    border: none;
    padding: 0px;
}

.btn-buy {
    border: none;
    border-radius: 60px;
    padding: 8px 0px;
}



/* a-tags */

a {
    cursor: pointer;
}
a :hover{
    color: red;
}


header img {
    height: 38px;
    width: 92.56px;

}

.bar {
    width: 45px;
    height: 4px;
    background-color: #ffffff;
    transition: 0.4s;
}

.burger-menu {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.menu-section-img{
    width: 208px;
    height: 121px;
    position: center;
    object-fit: cover;
}