.responsive-control {
    z-index: 1;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}








@media (max-width: 1490px) {
    .menu-box {
        margin-left: 8px;
    }
}

@media (max-width: 1270px) {
    .menu-box {
        width: calc(100% - 520px);
        flex-direction: column;
        justify-content: center;

    }
    .add-item {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 24px;
    }
    .menu-section-img {
        width: 100%;
        height: 220px;
    }
}

@media (max-width: 950px) {
    .menu-section {
    align-items: center;
    }

    .basket {
    display: none;
    }
    .menu-box {
        width: 720px;;
    }
    footer {
    padding-bottom: 80px;
    }
    }