/*Box Models*/


.p-0 {
    padding: 0px;
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;
}

.pb-8 {
    padding-bottom: 8px;
}

.pt-8 {
    padding-top: 8px;
}

.m-0 {
    margin: 0px;
}

.m-b4 {
    margin-bottom: 4px;
}

.m-b80 {
    margin-bottom: 80px;
}

.m-b24 {
    margin-bottom: 24px;
}

.m-left-right {
    margin: 0px 16px;
}
.m-t8 {
    margin-top: 8px;
}

.border-r-12 {
    border-radius: 12px;
}

/*width*/
.width-100 {
    width: 100%;
}

.container {
    max-width: 1440px;
}

.wrapper {
    max-width: 1440px;
}
/*positions*/

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.d-flex-space-btw {
    display: flex;
    justify-content: space-between;
}

.transformY-4 {
    transform: translateY(-4px);
}

.transform-rotate-180 {
    transform: rotateY(-180deg);
}

.text-align-c {
    text-align: center;
}

/*color*/
.d-none {
    display: none;
}

.clr-backg-lightOrange {
    background-color: #FDEADC;
}

.clr-backg-white {
    background-color:#FFFFFF;
}

.clr-backg-orange {
    background-color:#E76C1F;
}

.clr-backg-black {
    background-color:#363534 !important;
}

.clr-lightOrange {
    color: #FDEADC;
}

.clr-orange {
    color: #E76C1F;
}

.clr-white {
    color: #FFFFFF;
}
.clr-black {
    color: #363534;
}

.clr-gray {
    color: #726D6D;
}

/*other*/
.no-scroll {
    overflow: hidden;
}

.border-top {
    border-top-color: #726D6D;
    border-top-style: solid;
}