.p-0 {
    padding: 0px;
}

.p-16 {
    padding: 16px;
}

.m-0 {
    margin: 0px;
}

.m-left-right {
    margin: 0px 16px;
}
.m-t8 {
    margin-top: 8px;
}

.container {
    max-width: 1440px;
}

.wrapper {
    max-width: 1440px;
}

.d-none {
    display: none;
}

.clr-orange {
    color: #E76C1F;
}

.clr-black {
    color: #363534;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}