.p-0 {
    padding: 0px;
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.pb-8 {
    padding-bottom: 8px;
}

.m-0 {
    margin: 0px;
}

.m-b80 {
    margin-bottom: 80px;
}

.m-left-right {
    margin: 0px 16px;
}
.m-t8 {
    margin-top: 8px;
}

.border-r-12 {
    border-radius: 12px;
}

.container {
    max-width: 1440px;
}

.wrapper {
    max-width: 1440px;
}

.d-none {
    display: none;
}

.clr-orange {
    color: #E76C1F;
}

.clr-backg-lightOrange {
    background-color: #FDEADC;
}

.clr-white {
    color: #FFFFFF;
}
.clr-black {
    color: #363534;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

